@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital');
:root {
    font-family: Josefin Sans, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, #root {
    width: 100%;
    height: 100vh;

}

a {
    text-decoration: none;
    color: white;
}