@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
    font-family: Josefin Sans, sans-serif;
}


a {
    text-decoration: none;
    color: var(--color-text);
}

.custom-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-primary scrollbar-track-primary/10;
}

.custom-scrollbar-wide {
    @apply scrollbar scrollbar-thumb-primary scrollbar-track-primary/10
}

@theme {
    --color-text: #e7e7f9;
    --color-background: #040411;
    --color-primary: #9392e3;
    --color-secondary: #591f7a;
    --color-accent: #bc47d1;
}
